.idea/*.xml
module/SerialPort/__pycache__/*.pyc
__pycache__/*.pyc
*/__pycache__/*.pyc
*/*/__pycache__/*.pyc
*/*/*/__pycache__/*.pyc

*.bin
*/*.bin
*/*/*.bin
*/*/*/*.bin

*.iml
*/*.iml
*/*/*.iml
*/*/*/*.iml

*.txt
*.spec
build/
dist/
*.ini
*.7z
*.ini
setting.ini
